<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" >
<p class="message-error" [class.invalid]= "nameInput2.invalid" >El campo es requerido</p>
<h1>*ngFor Objs</h1>
<div>
    <div *ngFor="let product of products">
        <img width="250px" [src]="product.image" alt="lorem">
        <h2>{{product.price}}</h2>
        <p>{{product.name}}</p>
    </div>
</div>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newNames">
<button (click)="addName()">Add Name</button>
<ul>
    <li *ngFor="let name of names; index as i">
        {{name}} {{i}}
        <button (click)= 'deleteName(i)'>Delete</button>
    </li>
</ul>

<h1>*ngIf</h1>
<input type="text" required  [(ngModel)]="person.name">
<p *ngIf="person.name === 'Daniel'">Soy daniel</p>
<p *ngIf="person.name === 'Luffy';else elseBlock">soy Luffy</p>
<hr>
<ng-template #elseBlock>
    <p>Bloque else</p>
</ng-template>
<h1>Ng model</h1>
<p> {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{ nameInput.valid }}</p>
<h1>Eventos</h1>
<button [disabled]='btnDisabled'>Enviar</button>
<button (click)="toggleButton()">Tongle Button</button>
<p> {{ person.age }}</p>
<button (click)="increaseAge()">Age +1</button>
<div class="box" (scroll)="onScroll($event)">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quia, error omnis repudiandae necessitatibus odit, laudantium deleniti fugit voluptatum quod eaque sed tenetur illo quibusdam recusandae. Nisi repellat mollitia suscipit!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus quos fugit officia magni facere esse, ratione deserunt ipsum molestiae fuga ullam sed temporibus aperiam laboriosam nisi culpa delectus aspernatur aut.
        Ad asperiores repellendus molestiae doloribus a! Autem corporis vero placeat provident ab nisi deserunt esse officia nobis repellat dolore, quis libero maiores ipsam quasi ratione nesciunt odio. Veritatis, quibusdam unde.
        Qui iure fugiat et. Adipisci laboriosam, sunt suscipit in nisi veritatis officia minus optio praesentium odio perspiciatis dignissimos amet itaque debitis magnam nulla quae ratione unde dolores atque illo enim!
    </p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<p> {{ person.name }}</p>
<hr>
<h1>Propiedas</h1>
<button [disabled]='btnDisabled'>Enviar</button>
<input type="text" [value] ='person.name'>
<progress max="100" [value]='person.age'></progress>
<img [src]="img" width="100px" alt="">
<hr>
<h1>HOLA MUNDO</h1>
<h2>{{'hola mundo'.repeat(5)}}</h2>
<p> 3+ 3 = {{3 + 3}}</p>
<h3>Hola, soy {{name}} y tengo {{ age }}</h3>
<img src={{img}} alt="">